@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Role Management";
}

<h1 style="margin-left:100px;">Manage Roles</h1>

@if(Model.Any()){
    foreach(var role in Model)
    {
        <div style="width: 70%; height: 10%; background-color: #cccccc; margin: 30px 0px 30px 200px; padding: 20px;
                    border-radius: 5px;">
            <div>
                Role Id: @role.Id
            </div>
            <div style="margin-top: 5px;">
                <h5>Role Name: @role.Name</h5>
            </div>
            <div style="margin-top: 5px;">
                <a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
}
else{
    <div style="margin-left:100px;">
        <div class="bg-primary text-white">
            <h3>There is no admin registered on this device to perform this task</h3>
            <br>
            <h4>Use the button below to create a role</h4>
        </div>
        <a asp-action="CreateRole" asp-controller="Administration" class="btn btn-outline-primary" style="width:auto">
            Create Role
        </a>
    </div>
}