@using Address_Book.Services.ViewModels;
@model Address_Book.Services.ViewModels.CustomerCreateViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create New Customer";
}

<form enctype="multipart/form-data" asp-controller="Home" asp-action="Create" method="post" class="mt-3">
    <div class="form-group row mb-3">
        <label asp-for="Name" class="col-sm-2 col-form-label">Name: </label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control" placeholder="Name" />
            @*<span asp-validation-for="Name" class="text-danger"></span>*@
        </div>
    </div>
    <div class="form-group row mb-3">
        <label asp-for="Email" class="col-sm-2 col-form-label">Email: </label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" placeholder="Email" />
            @*<span asp-validation-for="Email" class="text-danger"></span>*@
        </div>
    </div>
    <div class="form-group row mb-3">
        <label asp-for="Address" class="col-sm-2 col-form-label">Address: </label>
        <div class="col-sm-10">
            <input asp-for="Address" class="form-control" placeholder="Address" />
            @*<span asp-validation-for="Email" class="text-danger"></span>*@
        </div>
    </div>
    <div class="form-group row mb-3">
        <label asp-for="DateOfBirth"  class="col-sm-2 col-form-label">Date Of Birth: </label>
        <div class="col-sm-10">
            <input asp-for="DateOfBirth" type="date" class="form-control" placeholder="Date Of Birth" />
            @*<span asp-validation-for="Email" class="text-danger"></span>*@
        </div>
    </div>
    <div class="form-group row mb-3">
        <label asp-for="PhoneNumber" class="col-sm-2 col-form-label">Phone Number: </label>
        <div class="col-sm-10">
            <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
            @*<span asp-validation-for="Email" class="text-danger"></span>*@
        </div>
    </div>
    
    <div asp-validation-summary="All" class="text-danger"></div>

    <button type="submit" class="bg-primary text-light border-0 rounded-2 p-2">Create</button>
</form>
